<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="athena_science">


  <xacro:include filename="$(find athena_science_description)/urdf/athena_science/athena_science_macro.xacro"/>
  <xacro:include filename="$(find athena_science_description)/urdf/athena_science/athena_science_macro.ros2_control.xacro"/>

  <!-- create link fixed to the "world" -->
  <link name="world"/>

  <!-- Import stepper ros2_control description -->
  <xacro:include filename="$(find athena_science_description)/ros2_control/stepper.ros2_control.xacro" />
  <xacro:stepper_ros2_control name="stepper"/>

  <!-- Import servo ros2_control description -->
  <xacro:include filename="$(find athena_science_description)/ros2_control/servo.ros2_control.xacro" />
  <xacro:servo_ros2_control name="servo"/>

  <!-- Import talon ros2_control description -->
  <xacro:include filename="$(find athena_science_description)/ros2_control/talon.ros2_control.xacro" /> 
  <xacro:talon_ros2_control name="talon"/>
</robot>
