[submodule "can_messages"]
    path = umdloop_theseus_can_messages
    url = git@github.com:umdloop/umdloop_theseus_can_messages.git
    branch = main
[submodule "can"]
    path = umdloop_can
    url = git@github.com:umdloop/umdloop_can.git
    branch = main
[submodule "rmd_hwi"]
    path = rmd_ros2_control
    url = git@github.com:umdloop/rmd_ros2_control.git
    branch = main
[submodule "smc_hwi"]
    path = smc_ros2_control
    url = git@github.com:umdloop/smc_ros2_control.git
    branch = main
[submodule "talon_hwi"]
    path = talon_ros2_control
    url = git@github.com:umdloop/talon_ros2_control.git
    branch = main
