[submodule "umdloop_can"]
	path = umdloop_can
	url = https://github.com/umdloop/umdloop_can.git
[submodule "umdloop_theseus_can_messages"]
	path = umdloop_theseus_can_messages
	url = https://github.com/umdloop/umdloop_theseus_can_messages.git
[submodule "talon_ros2_control"]
	path = talon_ros2_control
	url = https://github.com/umdloop/talon_ros2_control.git
[submodule "servo_ros2_control"]
	path = servo_ros2_control
	url = https://github.com/umdloop/servo_ros2_control
[submodule "stepper_ros2_control"]
	path = stepper_ros2_control
	url = git@github.com:umdloop/stepper_ros2_control.git
